*{outline:none;}a{text-decoration:none}
body{font-family:"Helvetica Neue",Helvetica,'Microsoft YaHei',Arial,sans-serif;margin:0; padding:0}
header{height:3em;background:#2c3e50}
section{margin:0 auto;padding-left:1em}
form a{color:#ddd}
label {float:left;line-height:50px;font-size:1.3em;color:#ddd}
nav {float:right;margin-right:1em;font-size:.8em;line-height:55px;color:#ddd}
header input{float:left;margin:.8em 1em;width:43%;height:2em;text-indent:1em;border-radius:3px;border:none;background:none;color:#ccc;border-bottom:.5px solid #ccc}
input::-webkit-input-placeholder{color:#ccc}
input:focus::-webkit-input-placeholder {color:#2c3e50}
h2{position:relative;color:#2c3e50}
span{position:absolute;top:2px;right:5px;display:inline-block;padding:0 5px;height:20px;font-size:.7em;color:#666;line-height:22px}
ol,ul{padding:0 .2em;list-style:none;color:#2c3e50}
li input{position:absolute;top:2px;left:10px;width:22px;height:22px;cursor:pointer}
p{margin:0}
li p input{top:3px;left:40px;width:70%;height:20px;line-height:14px;text-indent:5px;font-size:14px}
li{height:32px;line-height:32px;background:#fff;position:relative;margin-bottom:10px;padding:0 45px;border-left:5px solid #0063b1;box-shadow:0 2px 3px #eee;cursor:pointer}
ul li{border-left:5px solid #999;opacity:0.5;text-decoration:line-through}
li a{position: absolute;top:6px;right:.05em;line-height:15px;color:#fff;cursor:pointer}
.clearall{position:fixed;right:.3em;bottom:.3em;display:block;color:#999;border:.1px solid #999;padding:.3em}
@media screen and (max-device-width:620px) {section{width:96%;padding:0 2%}}
@media screen and (min-width:620px) {section{width:600px;padding:0 10px}}